* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   font-family: 'Poppins', sans-serif;
   height: 7000px;
}

/* Common */
.header {
   font-family: 'Public Sans', sans-serif;
}

.container {
   width: 1140px;
   max-width: calc(100% - 48px);
   margin-left: auto;
   margin-right: auto;
}

.btn {
   border-radius: 40px;
   background-color: #143C3C;
   font-size: 1.8rem;
   font-style: normal;
   font-weight: 500;
   line-height: 1.555;
   color: white;
}

.btn:hover {
   opacity: 0.9;
}

.title {
   font-size: 5rem;
   font-style: normal;
   font-weight: 800;
   line-height: 1.2;
}

.desc {
   color: #575D5E;
   font-size: 1.8rem;
   font-style: normal;
   font-weight: 500;
   line-height: 1.555;
}

a {
   text-decoration: none;
}

/* Header */
.header-top {
   margin-top: 28px;
   display: flex;
   align-items: center;
}

.nav {
   margin-left: 408px;
}

.nav ul {
   display: flex;
   gap: 16px;
}

.nav ul a {
   padding: 4px 8px;
   font-size: 1.8rem;
   font-weight: 500;
   color: #575D5E;
}

.nav ul a:hover {
   color: black;
}

.header-top .btn {
   padding: 15px 52px;
   margin-left: 80px;
}

/* ======= hero ======= */
.hero {
   margin-top: 74px;
   display: flex;
   gap: 76px;
}

.hero .title {
   width: 368px;
}

.hero .desc {
   margin-top: 20px;
   width: 341px;
}

.hero .row {
   margin-top: 42px;
   display: flex;
   align-items: center;
}

.hero .btn {
   padding: 15px 35px;
}

.hero .sub_icon {
   margin-left: 36px;
}

.hero .icon {
   margin-left: -20px;
}

.hero .sub_icon_text {
   color: #152427;
   text-align: center;
   font-size: 1.5rem;
   font-family: Poppins;
   font-weight: 600;
   line-height: 1.63;
   margin-left: 9px;
}

.hero_img {
   display: inline-block;
   width: 202px;
   height: 466px;
   border-radius: 110px;
   object-fit: cover;
   box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.hero .block_img {
   display: flex;
   position: relative;
   gap: 30px;
   margin-left: -607px;
}

.hero_img:nth-child(2) {
   position: absolute;
   top: 77px;
   left: 234px;
}

.hero_img:nth-child(3) {
   position: absolute;
   left: 464px;
}

.flower_1 {
   position: absolute;
   left: 444px;
   top: 105px;
}

.sub_flower_1 {
   z-index: 1;
   position: relative;
   top: -116px;
   left: -148px;
}

.flower_2 {
   position: relative;
   left: -500px;
   bottom: -280px;
}

.sub_flower_2 {
   z-index: 1;
   position: relative;
   top: 182px;
   left: -382px;
}

/* ======= Advertise ======= */
.advertise .container {
   margin-top: 240px;
   background-color: #E2EDDF;
   border-radius: 105px;
}

.advertise .block-icon {

   display: flex;
   align-items: center;
   gap: 47px;
   padding: 76px 122px;
}

.block-sub-icon {
   display: flex;
   align-items: center;
}

/* ======= Service ======= */
.service {
   margin-top: 108px;
}

/* co dung lai nhieu lan */
.first-heading {
   position: relative;
   margin-left: 46px;
   color: #152427;
   font-size: 1.6rem;
   font-weight: 500;
   line-height: 1.625;
}

/* co dung lai nhieu lan */
.first-heading::before {
   position: absolute;
   content: "";
   display: flex;
   width: 25px;
   height: 1px;
   background-color: #152427;
   top: 8px;
}

.service .title {
   width: 502px;
   font-size: 4.2rem;
   position: relative;
}

.service .title::after {
   position: absolute;
   content: "";
   display: flex;
   width: 66px;
   height: 2px;
   background-color: #152427;
   top: 86px;
   left: 408px;
}

.service .row-action-tab {
   display: flex;
   gap: 17px;
}

.service .row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.service .block-list {
   margin-top: 76px;
   display: flex;
   gap: 16px;
}

.service .thumb {
   width: 370px;
   height: 318px;
   object-fit: cover;
   border-radius: 20px 20px 0px 0px;
   background-color: #E2EDDF;
}

.service .list {
   background-color: #fff;
   border-radius: 20px;
}

.service .list:hover {
   box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);

}

.service .thumb-content {
   padding: 24px 18px;
}

.service .sub-thumb {
   color: #152427;
   font-size: 22px;
   font-style: normal;
   font-weight: 600;
   line-height: 22px;
}

.service .desc {
   margin-top: 18px;
   font-size: 1.4rem;
   line-height: 1.7;
}

/* ======= About ======= */
.about {
   margin-top: 157px;
}

.about .container {
   display: flex;
   justify-content: space-between;
}

.about .block-img {
   gap: 21px;
   display: flex;
}

.about .img:nth-child(3) {
   margin-top: 90px;
}

.about .img {
   width: 286px;
   height: 480px;
   border-radius: 210px;
   object-fit: cover;
   box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about .sub-flower {
   position: absolute;
   top: 1982px;
   left: 331px;
}

.about .flower {
   position: absolute;
   left: 290px;
}

.about .content {
   width: 500px;
}

.about .title {
   margin-top: 20px;
   font-size: 4.3rem;
   line-height: 1.2;
   font-style: normal;
   font-weight: 600;
}

.about .desc {
   font-size: 1.4rem;
}

.about .desc-1 {
   margin-top: 11px;
   font-size: 1.6rem;
}

.about .row {
   margin-top: 36px;
   gap: 24px;
   align-items: center;
   display: flex;
}

.about strong {
   position: relative;
   top: -10px;
}