* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   font-family: 'Poppins', sans-serif;
}

/* Common */
.header {
   font-family: 'Public Sans', sans-serif;
}

.container {
   width: 1140px;
   max-width: calc(100% - 48px);
   margin-left: auto;
   margin-right: auto;
}

.btn {
   border-radius: 40px;
   background-color: #143C3C;
   font-size: 1.8rem;
   font-style: normal;
   font-weight: 500;
   line-height: 1.555;
   color: white;
}

.btn:hover {
   opacity: 0.9;
}

.title {
   font-size: 5rem;
   font-style: normal;
   font-weight: 800;
   line-height: 1.2;
}

.desc {
   color: #575D5E;
   font-size: 1.8rem;
   font-style: normal;
   font-weight: 500;
   line-height: 1.555;
}

a {
   text-decoration: none;
}

/* Header */
.header-top {
   margin-top: 28px;
   display: flex;
   align-items: center;
}

.nav {
   margin-left: 408px;
}

.nav ul {
   display: flex;
   gap: 16px;
}

.nav ul a {
   padding: 4px 8px;
   font-size: 1.8rem;
   font-weight: 500;
   color: #575D5E;
}

.nav ul a:hover {
   color: black;
}

.header-top .btn {
   padding: 15px 52px;
   margin-left: 80px;
}

/* hero */